<h3>
  HttpClient app
</h3>
<hr>
<div class="row" *ngIf="books.length > 0">
  <div class="col-md-4">
    <table class="table">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">ID</th>
      </tr>
      <tr *ngFor="let book of books">
        <td (click)="openEditBook(book.id)">{{ book.title }}</td>
        <td (click)="openEditBook(book.id)">{{ book.author }}</td>
        <td (click)="openEditBook(book.id)">{{ book.id }}</td>
        <td>
          <button type="button" class="btn btn-danger" (click)="deleteBook(book.id)">
            Delete
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>