<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Zabawy Angularem</a>
      </div>
      <ul class="nav navbar-nav">
        <li routerLink="/main" routerLinkActive="active"><a>Main</a></li>
        <li routerLink="/book" routerLinkActive="active"><a>Book</a></li>
        <li routerLink="/fun" routerLinkActive="active"><a>Fun</a></li>
      </ul>
    </div>
  </nav>
<hr>
<div class="container">
  <router-outlet></router-outlet>  
</div>

